h1
  | Kiite#new
= form_with model: @kiite, local: true do |f|
  = f.hidden_field :sokka, { value: 0 }
  .form-froup
    = f.label :text
    = f.text_area :text, rows: 5, class: 'form-control'
  = f.submit nil, class: 'btn btn-primary'
